*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.nav{
    position: sticky;
      top: 0;
      background: black;
      padding: 15px;
      z-index: 100;
      transition: 0.3s ease;
}
.nav:hover{
    transform: translateY(+5px);
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 20px;
}
.nav a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.nav .active{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.hero{
    position: relative;
    width: 100%;
    height: 650px;
    background-image: url(../Images/meadow-5229169_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.img1{
    position: absolute; right: 200px; top: -60px;
    width: 450px; height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.img2{
    position: absolute; right: -30px; top: 150px;
    width: 450px; height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.img3{
    position: absolute; top: 150px; right: 430px;
    width: 450px; height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.img4{
    position: absolute; bottom: -110px; right: 200px;
    width: 450px; height: 400px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.img:hover{
    transform: scale(1.2);
}
.img{
    transition: transform 0.4s ease;
}
.nav{
    transition: transform 0.4s ease; 
}
.nav:hover{
    transform: scale(1.03);
}

.hero h1{
    position: absolute; top: 250px; left: 250px;
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
     transition: transform 0.4s ease;
}
.hero h1:hover{
    transform: scale(1.1);
}
.card{
    position: relative;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 2px 3px 4px rgb(197, 196, 196);
    border-radius: 5px;
    transition: 0.3s ease;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 4px 6px 8px rgb(150, 150, 150);
}
.overflow{
    height: 300px;
    overflow: auto;
    scrollbar-width: none;
}
.card>#card1{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
span{
    position: absolute;
    top: 10px; left: 5px;
    font-size: 0.75rem;
    padding: 3px;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
}
.card>.overflow h3, .card>.overflow p{
    padding-right: 10px;
    padding-left: 10px;
}
.col{
    width: 25%;
    float:left;
    padding: 10px;
}
.row{
    width: 100%;
}
.container{
    width: 85%;
    margin: auto;
}
footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}